.idea/
eurekaconsumerfeign/eurekaconsumerfeign.iml
eurekaconsumerribbon/eurekaconsumerRibbon.iml
eurekaprovider/eurekaprovider.iml
eurekaserver/eurekaserver.iml
eurekazuul/eurekazuul.iml

eurekaconsumerfeign/target
eurekaconsumerribbon/target
eurekaprovider/target
eurekaserver/target
eurekazuul/target

eurekaconsumerfeign/.mvn
eurekaconsumerribbon/.mvn
eurekaprovider/.mvn
eurekaserver/.mvn
eurekazuul/.mvn

